h1 {
  line-height: 1;
}

ul {
  list-style: none;
  padding: 0;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.menu-items {
  display: grid;
  gap: 20px;
}
.menu-item {
  background: pink;
  /* padding: 20px 0; */
  padding-left: 20px;
  border-radius: 10px;
}
button {
  all: unset;
}
.menu-item .menu-link {
  color: white;
  background: rgba(1, 1, 146, 0.747);
  padding: 0 10px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  cursor: pointer;
  /* margin-top: 50px; */
}

.menu-item .menu-link span {
  cursor: pointer;
}

.menu-item .menu-link span:hover {
  color: red;
}

/* .hide-menu {
  display: none;
}
.active-menu {
  display: block;
} */
